[submodule "external/linux"]
	path = external/linux
	url = git@github.com:utcs-scea/linux.git
	branch = kernmlops
[submodule "external/triton-cpu"]
	path = external/triton-cpu
	url = git@github.com:triton-lang/triton-cpu.git
[submodule "external/external/sleef"]
	path = external/external/sleef
	url = https://github.com/shibatch/sleef
[submodule "external/sleef"]
	path = external/sleef
	url = https://github.com/shibatch/sleef
